@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

.h1 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.h2 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.h3 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.h4 {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.p2 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.p3 {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.p4 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.upper {
  text-transform: uppercase;
}
